* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
body, input, button {
  font: 14px sans-serif;
}
#root {
  flex-direction: column;
  color: #fff;
  height: 100%;
  display: flex;
  align-self: stretch;
  background: linear-gradient(rgba(0,0,0,0.5),transparent);
  background-color: #1a001a;
}
button {
  cursor: pointer;
}